mat-toolbar{
    font-weight: 300;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    padding: 1vw 3vw;
}
.main-div{
    background-color: #424242;
    flex-wrap: wrap;
    justify-content: space-around space-between center;
    min-height: 100%;
    padding: 1vw;
}

.movie-card{
    margin: 1vw auto;
    display: flex;
    flex-direction: column;
    width: 182px;
}

.titleMovie{
    height: 40px;
}

.movie-card > img{
    width: 182px;
    height: 268px;
    display: block;
}

.link_button{
    float: right;
}

mat-card-actions{
    display: flex;
    flex-direction: column;
}

p > mat-icon{
    color: gold;
}

.infos{
    color: white;
    padding: 1vw;

    .titleMovie{
        text-align: center;
    }
}

.filter-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: -15px;    
}

.width100{
    border-radius: 0%;
    
}

.width40{
    width: 100%;
    padding: 10px;
}