mat-toolbar{
    font-weight: 300;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    padding: 1vw 3vw;
}
.main-div{
    background-color: #424242;
    flex-direction: column;
}