<header>
  <mat-toolbar color="primary">
    <span>Filmes Cadastrados</span>
    
  </mat-toolbar>
</header>

<main class="main-div" infiniteScroll (scrolled)="onScroll()">  
  
  <mat-card class="width100" >
    <form autocomplete="off" novalidate [formGroup]="filtro">
      <mat-card-content class="filter-form">
          <app-input-text class="width40" controlName="text" title="Pesquise aqui" [formGroup]="filtro"></app-input-text>
          <app-input-select class="width40" controlName="genre" title="Gênero" [options]="generos" [formGroup]="filtro"></app-input-select>
      </mat-card-content>
     <mat-card-subtitle> <a href="http://">Limpar filtros</a></mat-card-subtitle>
    </form>
  </mat-card>

  <h4 *ngIf="!filmes.length" class="menssagem">Nenhum registro encontrado</h4>
  
  <mat-card class="movie-card" *ngFor="let filme of filmes" >
      <mat-card-content>
        <img mat-card-image [src]="filme.urlImg || semFoto" alt="Poster do filme">
          <p>
            <mat-icon>star</mat-icon>
            {{filme.IMDbRating}}
          </p>
          <p class="titleMovie">{{filme.title}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button style="color: rgb(64, 163, 230)" (click)="abrir(filme)">ABRIR</button>
        <div>
          <button class="info_button" mat-icon-button aria-label="Informações"  [matMenuTriggerFor]="infos">
            <mat-icon>info</mat-icon>
          </button>
          <a *ngIf="filme.urlIMDb" class="link_button" mat-icon-button aria-label="Link do filme no IMDb" [href]="filme?.urlIMDb" target="_blank">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
      </mat-card-actions>
      <mat-menu #infos="matMenu" >
        <div class="infos">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{filme.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card-subtitle *ngIf="filme.description">Descrição: </mat-card-subtitle>
              <p>{{filme.description}}</p>
            </mat-card-content>
            <mat-card-subtitle>Data de Lançamento: {{filme.releaseDate}}</mat-card-subtitle>
            <mat-card-subtitle>Gênero: {{filme.genre}}</mat-card-subtitle>
          </mat-card>
        </div>
      </mat-menu>
  </mat-card>
</main>