
<mat-dialog-actions align="end" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
    <button mat-button style="background: transparent;" color="warn" aria-label="Botão fechar" mat-dialog-close cdkFocusInitial>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<h1 mat-dialog-title>{{filme.title}}</h1>
<mat-dialog-content>
    <div class="main">
        <div class="poster">
            <img [src]="filme.urlImg || semFoto" alt="Poster do filme">
        </div>
        <div class="metaData">
            <p>
                <mat-icon>star</mat-icon>
                {{filme.IMDbRating}}
            </p>
            <p>Data de lançamento: {{filme.releaseDate | date: 'dd/MM/yyyy'}}</p>
            <p>Gênero: {{filme.genre}}</p>
            <a *ngIf="filme.urlIMDb" mat-icon-button aria-label="Link do filme no IMDb" [href]="filme?.urlIMDb" target="_blank">
                <mat-icon>open_in_new</mat-icon>
                Link IMDb
            </a>
        </div>
    </div>
    <div class="descricao" *ngIf="filme.description">
        <h3>Descrição:</h3>
        <p>{{filme.description}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="accent" aria-label="Botão Editar" (click)="editar(filme.id)"> 
        <mat-icon>edit</mat-icon>
        Editar</button>
    <button mat-button color="warn" aria-label="Botão Excluir" (click)="excluir(filme.id)">
        <mat-icon>delete</mat-icon>
        Excluir</button>
    
</mat-dialog-actions>

