<div [formGroup] = "formGroup">
    <mat-form-field appearance="outline" class="full-width">

        <mat-label>{{title}}</mat-label>

        <textarea  matInput
                [name]="controlName"
                [formControlName]="controlName">
        </textarea>

        <mat-error *ngIf="validation.hasErrorValidate(formControl, 'required')">Campo obrigatório</mat-error>

        <mat-error *ngIf="validation.hasErrorValidate(formControl, 'minlength')">
            Campo precisa ter no mínimo {{validation.lengthValidar(formControl, 'minlength')}} caracteres
        </mat-error>

        <mat-error *ngIf="validation.hasErrorValidate(formControl, 'maxlength')">
            Campo pode ter no máximo {{validation.lengthValidar(formControl, 'maxlength')}} caracteres
        </mat-error>

    </mat-form-field>
  </div>
  