*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #141414;
    color: white;
    font-family: 'Arial', Times, serif;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: #e50914;
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

.container{
    margin-left: 20px;
}

@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
}
