<footer class="main-div">
    <div class="content-div">
        <div>
            <img src="../../../../assets/images/angular_curso.png" alt="Logo do curso Técnicas avançadas em Angular 8 da Digital Innovation One"/>
            
            <div class="content-div">
                <span>Curso Técnicas Avançadas em Angular 8</span>
                <span>Digital Innovation One</span>
            </div>  
        </div>
    </div>

    <div class="content-div">
        <span>Ellen Cristina Herculano</span>
        <span>Estagiária - Monitora Soluções Tecnológicas</span>
    </div>

    <div class="content-div">
        <span>2021</span>
    </div>
</footer>
