<header>
    <mat-toolbar color="primary">
        <span>Cadastro de Filmes</span>
    </mat-toolbar>
</header>
<main class="main-div">
    <mat-card class="width75 center">
        <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="resetForm()">
            <mat-card-content>
                <app-input-text title="Título *" controlName="title" [formGroup]="cadastro"></app-input-text>
                <app-input-text title="Link Foto" controlName="urlImg" [formGroup]="cadastro"></app-input-text>
                <app-input-date title="Data de Lançamento *" controlName="releaseDate" [formGroup]="cadastro"></app-input-date>
                <app-input-textarea title="Descrição" controlName="description" [formGroup]="cadastro"></app-input-textarea>
                <app-input-number title="Nota IMDb *" controlName="IMDbRating" [step]=0.1 [formGroup]="cadastro"></app-input-number>
                <app-input-text title="Link IMDb" controlName="urlIMDb" [formGroup]="cadastro"></app-input-text>
                <app-input-select title="Gênero *" controlName="genre" [options]="generos" [formGroup]="cadastro"></app-input-select>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit">Salvar</button>
                <button mat-raised-button color="warn" type="reset">Cancelar</button>
            </mat-card-actions>
        </form>
    </mat-card>
</main>