@use '~@angular/material' as mat;

.top-nav{
    @include mat.elevation(8);
    position: relative;
}

.nav-button-row{
    display: flex;
}

.nav-spacer{
    flex: 1;
}

button:hover{
    span{
        color: #69F0AE;
    }
    background: rgba(0,0,0,.4);
}

a:hover{
    color: #69F0AE;
    background: rgba(0,0,0,.4);
}