.nav-button-row{
    display: flex;
}

.nav-spacer{
    flex: 1;
}

button:hover{
    span{
        color: #a5d6a7;
    }
    background: rgba(0,0,0,.4);
}

a:hover{
    color: #a5d6a7;
    background: rgba(0,0,0,.4);
}